$blackTextColor: #1d1d1d;
$beigeBgColor: #8e7768;
$ulWhiteColor: #eae9e9;

$dmbgColor: #62544b;
$ulDmColor: #443d38;
$dmWhiteColor: whitesmoke;

//Spara ifall du ska ha röda detaljer background-color: #713c3c;