//Generella variabler
$blackTextColor: #1d1d1d;
$whiteBgColor: #d1cfcf;
//$toDoWhiteColor: #e8e8e8;
$toDoWhiteColor: rgba(247, 217, 221, 0.86);
$borderColor: #b88ec7;
$inputColor: #f5f2f2;


//Darkmode
$dmbgColor: #5a5a5a;
$toDoDmColor: #4f406b54;
$dmWhiteColor: whitesmoke;

//Validering
$errorColor: #e63636;

//Spara ifall du ska ha röda detaljer background-color: #713c3c;