//Generella variabler
$blackTextColor: #1d1d1d;
$whiteBgColor: #d1cfcf;
$toDoWhiteColor: #f7d9dddb;
$borderColor: #b88ec7;
$inputColor: #f5f2f2;
$liHoverColor: #caaac1b9;
$buttonBgHoverColor: #d58de5db;
$buttonBorderHoverColor: #d682d6;
$formFocusColor: #f9f7f7;

//Darkmode
$dmbgColor: #5a5a5a;
$toDoDmColor: #4f406b54;
$dmWhiteColor: whitesmoke;
$dmBorderColor: #352854;
$dmHoverColor: #6d589654;
$dmLiHoverColor: #5f3270b0;

//Validering
$errorColor: #9c1b1b;