/* stylelint-disable no-descending-specificity */
@use 'utils/variables' as var;

body{
    background-color: var.$whiteBgColor;
    font-family: 'Poppins', sans-serif;
    color: var.$blackTextColor;

    .inputContainer{
        input[type=text]{
           background-color: var.$inputColor;
        }
    }

    .toDoContainer{
        background-color: var.$toDoWhiteColor;

        .taskBar{
            select{
                background-color: var.$inputColor;
            }
        }
    
        span{
            border-bottom: 2px solid var.$blackTextColor;
        }

        ul{
            padding: 5px;
            margin-left: 5px;
    
            li{
                &:hover{
                    background-color: #d4d3d3;
                }
            }
        }    
    }
}

.darkMode{
    background-color: var.$dmbgColor;
    color: var.$dmWhiteColor;

    .inputContainer{
        input[type=text]{
            background-color: #c6c6c6;
        }
    }
    
    .toDoContainer{
        background-color: var.$toDoDmColor;

        .taskBar{
            select{
                background-color: #c6c6c6;
            }
        }

        span{
            border-bottom: 2px solid var.$dmWhiteColor;
        }
    
        ul{
    
            li{
                &:hover{
                    background-color: #5e5e5e;
                }
            }
        }
    }

    button{
        background-color: var.$toDoDmColor;
        color: var.$dmWhiteColor;
        border: 2px solid #393838;

        &:hover{
            background-color: #5b5a5a;
            border: 2px solid #3d3d3d;
        }
    }

    i{
        color: #333;
    }
}

main{
    width: 100%;
}

section{
    margin-top: 7vh;

    h1{
        text-transform: uppercase;
        text-align: center;
    }

    .toDoContainer{
        width: 95%;
        margin: 0 auto;
        text-transform: uppercase;
        margin-bottom: 20px;
        border: 2px solid var.$borderColor;

        span{
            margin-left: 10px;
            margin-top: 10px;
            font-size: 1.2rem;
        }

        .taskBar{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            select{
                margin-top: 10px;
                margin-right: 10px;
                height: 2rem;
                border-radius: 4px;
                border: 2px solid var.$borderColor;
                cursor: pointer;
            }
        }

        ul{
            min-height: 10vh;
            margin: 0;
            
            li{
                list-style-type: none;
                text-transform: lowercase;
                font-size: 1rem;
                position: relative;
                padding: 7px;
                margin-top: 5px;
                cursor: pointer;
    
                i{
                    margin-left: 5px;
                    position: absolute;
                    cursor: pointer;
                }
    
                .fa-solid.fa-pen-to-square{
                    top: 17px;
                    right: 30px;
                    margin-right: 7px;
                }
    
                .fa-solid.fa-x{
                    top: 17px;
                    right: 10px;
                }
            }
        }
    }
}

button{
    cursor: pointer;
    border-radius: 4px;
    height: 2.4em;
    border: 2px solid var.$borderColor;
    background-color: var.$toDoWhiteColor;

    &:hover{
        transition: 0.3s ease-in-out;
        background-color: #c4c4c4;
        border: 2px solid #7d7c7c;
    }
}

button#darkModeBtn{
    margin-top: 10px;
    margin-bottom: 10px;
}

.btnContainer{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputContainer{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    input[type=text]{
        width: 18em;
        border-radius: 4px;
        border: 2px solid var.$borderColor;
        height: 2.3em;
        margin-bottom: 10px;

        &:focus{
            background-color: #f9f7f7;
        }
    }

}

button#addItemBtn{
    width: 7em;
    margin-top: 8px;
    margin-bottom: 8px;
}

.radioInputContainer{
    margin-bottom: 15px;

    .row{
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    input[type=radio]{
        transform: scale(1.5);
    }

    i.category{
        margin-right: 3px;
    }
}
