@use 'utils/variables' as var;

body{
    background-color: #9c9cd5;
    font-family: Poppins, sans-serif;
    color: var.$blackTextColor;
}

.darkMode{
    color:whitesmoke;
}

main{
    width: 100%;
}

section{
    background-color: rebeccapurple;
    margin-top: 7vh;

    h1{
        text-transform: uppercase;
        text-align: center;
    }

    ul{
        text-transform: uppercase;
        font-size: 1.2rem;

        li{
            list-style-type: none;
            text-transform: lowercase;
            font-size: 1rem;
            position: relative;

            i{
                margin-left: 5px;
                position: absolute;
                cursor: pointer;
            }

            .fa-solid.fa-pen-to-square{
                top: 10px;
                right: 40px;
                margin-right: 7px;
            }

            .fa-solid.fa-x{
                top: 10px;
                right: 20px;
            }
        }
    }
}

button{
    cursor: pointer;
}

button#darkModeBtn{
    margin-top: 10px;
    margin-bottom: 10px;
}

.container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    input[type=text]{
        width: 18em;
    }

    button#add-item-btn{
        width: 7em;
        margin-top: 8px;
    }
}

