/* stylelint-disable no-descending-specificity */
@use 'utils/variables' as var;

.toggleHidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body{
    background-color: var.$whiteBgColor;
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    color: var.$blackTextColor;

    .inputContainer{
        input[type=text], input[type=date]{
           background-color: var.$inputColor;
        }
    }

    .toDoContainer{
        background-color: var.$toDoWhiteColor;

        .taskBar{
            select{
                background-color: var.$inputColor;
            }
        }
    
        span.heading{
            border-bottom: 2px solid var.$blackTextColor;
        }

        ul{
            padding: 5px;
            margin-left: 5px;
    
            li{
                &:hover{
                   background-color: var.$liHoverColor;
                }

                button{
                    background-color: unset;
                    &:hover{
                        border-bottom: 3px solid var.$blackTextColor;
                        border-radius: 2px;
                    }
                }
            }
        }    
    }
}

.darkMode{
    background-color: var.$dmbgColor;
    background-image: url(/public/img/dmBackground.jpg);
    color: var.$dmWhiteColor;

    .inputContainer{
        input[type=text], input[type=date]{
            background-color: #d5d5d5;
        }
    }
    
    .toDoContainer{
        background-color: var.$toDoDmColor;
        border: 2px solid var.$dmBorderColor;

        .taskBar{
            select{
                background-color: #c6c6c6;
            }
        }

        span.heading{
            border-bottom: 2px solid var.$dmWhiteColor;
        }
    
        ul{
    
            li{

                &:hover{
                    background-color: var.$dmLiHoverColor;
                }

                button{
                    background-color: unset;
                    &:hover{
                        border-bottom: 3px solid var.$dmWhiteColor;
                        border-radius: 2px;
                    }

                    i{
                        color: var.$dmWhiteColor;
                    }
                }
            }
        }
    }

    button#darkModeBtn, button#addItemBtn{
        background-color: var.$toDoDmColor;
        color: var.$dmWhiteColor;
        border: 2px solid var.$dmBorderColor;

        &:hover{
            background-color: var.$dmHoverColor;
            border: 2px solid #43326a;
        }
    }
}

main{
    width: 100%;
    margin-top: 7vh;

    h1{
        text-transform: uppercase;
        text-align: center;
    }
    
    .toDoContainer{
        width: 95%;
        margin: 0 auto;
        text-transform: uppercase;
        margin-bottom: 20px;
        border: 2px solid var.$borderColor;
        border-radius: 4px;

        span.heading{
            margin-left: 10px;
            margin-top: 10px;
            font-size: 1.2rem;
        }

        .taskBar{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            select{
                margin-top: 10px;
                margin-right: 10px;
                height: 2rem;
                border-radius: 4px;
                border: 2px solid var.$borderColor;
                cursor: pointer;
            }
        }

        ul{
            min-height: 10vh;
            margin: 0;
            
            li{
                list-style-type: none;
                text-transform: lowercase;
                font-size: 1rem;
                position: relative;
                padding: 7px;
                margin-top: 5px;
                cursor: pointer;

                input[type=checkbox]#toDoCheckbox{
                    position: relative;
                    top: 3px;
                    height: 1.3rem;
                    width: 1.3rem;
                    cursor: pointer;
                }
                
                button{
                    width: 35px;
                    height: 35px;
                    margin-bottom: 10px;
                    border: none;
                }
    
                i, button.removeIcon{
                    position: absolute;
                    cursor: pointer;
                }

                .fa-solid.fa-x{
                    margin-top: 5px;
                    top: 10px;
                    left: 4px;
                }
    
                .fa-solid.fa-x, button.removeIcon{
                    right: 3px;
                }
            }

            span.deadline{
                margin-left: 7vw;
            }

            span.overdue{
                color: var.$errorColor;
            }
        }

        ul#completedTasks{
            li{
                padding: 11px;
            }
        }
    }
}

button#addItemBtn, button#darkModeBtn{
    cursor: pointer;
    border-radius: 4px;
    height: 2.4em;
    border: 2px solid var.$borderColor;
    background-color: var.$toDoWhiteColor;

    &:hover{
        transition: 0.3s ease-in-out;
        background-color: var.$buttonBgHoverColor;
        border: 2px solid var.$buttonBorderHoverColor;
    }
}

button#darkModeBtn{
    margin-top: 10px;
    margin-bottom: 10px;
}

.btnContainer{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    span.text{
        margin-top: 2rem;
        margin-bottom: 0.8rem;
    }
}

.inputContainer{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    input[type=date]{
        width: 18em;
        border-radius: 4px;
        border: 2px solid var.$borderColor;
        height: 2.3em;
        margin-bottom: 10px;

        &:focus{
            background-color: var.$formFocusColor;
        }
    }

    .formControl{
        position: relative;

        input[type=text]{
            width: 18em;
            border-radius: 4px;
            border: 2px solid var.$borderColor;
            height: 2.3em;
            margin-bottom: 10px;
    
            &:focus{
                background-color: var.$formFocusColor;
            }
        }

       i{
            position: absolute;
            top: 11px;
            right: 10px;
            visibility: hidden;
       }

       small{
            position: absolute;
            left: 3px;
            top: 40px;
       }
    }

    .formControl.error small{
        color: var.$errorColor;
    }

    .formControl.error i.fa-circle-xmark{
        visibility: visible;
        color: var.$errorColor;
    }

    .formControl.error input{
        border: 2px solid var.$errorColor;
    }

}

button#addItemBtn{
    width: 7em;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}