main{
    max-width: 70%;
    margin-top: 3rem;

    .inputContainer{
        flex-direction: row;
    
        input[type=text]{
            width: 21em;
        }
    }

    .toDoContainer{
        max-width: 60%;
        
        ul{
            li{

                span.deadline{
                    margin-left: 10vw;
                }
            }
        }  
    }
}