body{
    background-color: #f5f580;
}

.container{
    flex-direction: row;
    justify-content: space-evenly;

    input[type=text]{
        width: 16em;
    }

    button#add-item-btn{
        margin-top: unset;
    }
}

