.container{
    flex-direction: row;
    justify-content: center;

    input[type=text]{
        width: 16em;
        margin-right: 10px;
    }

    button#add-item-btn{
        margin-top: unset;
    }
}

