main{
    .inputContainer{
        flex-direction: row;
        justify-content: center;
    
        input[type=text]{
            width: 20em;
            margin-right: 10px;
        }
    
        button#addItemBtn{
            margin-top: unset;
        }
    }
    
    .radioInputContainer{
        max-width: 70%;
    }

    .tasks{
        .taskBar{
            flex-direction: row;
        }
    }


    .toDoContainer{
        ul{
            li{

                .fa-solid.fa-x{
                    margin-top: 5px;
                }

                span.deadline{
                    margin-left: 10vw;
                }
            }
        }  
        
    }

    .formControl.error i{
        right: 15px;
    }
}

