main{
    max-width: 80%;
    margin: 0 auto;

    .toDoContainer{
        max-width: 70%;
        ul{
            li{

                span.deadline{
                    margin-left: 14vw;
                }
            }
        }  
    }
}

